
.single {
    padding: 30px 15px;
    margin-top: 50px;
    background: #fcfcfc;
    border: 1px solid #f0f0f0;
}

.single h3.side-title {
    margin: 0 0 10px;
    padding: 0;
    font-size: 20px;
    color: #333;
    text-transform: uppercase;
}

.single h3.side-title:after, .card-title:after {
    content: '';
    width: 60px;
    height: 1px;
    background: #ff173c;
    display: block;
    margin-top: 6px;
}

.single ul {
    margin-bottom: 0;
}

.single li div button, .nav-link {
    color: #666;
    font-size: 14px;
    border: none;
    text-transform: uppercase;
    cursor: hand;
    border-bottom: 1px solid #f0f0f0;
    line-height: 40px;
    display: block;
    text-decoration: none;
    background: none !important;
    padding: 0 !important;
    outline: none !important;
}

.single li div button:hover, .nav-link:hover {
    color: #ff173c !important;
}

.single li div:last-child button {
    border-bottom: 0;
}

.nav-link {
    margin-left: 10px;
}

.categories-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #666;
}

.suppliers-title {
    margin-top: 15px !important;
}

.products > :hover {
    /*transform: scale(1.04);*/
    /*cursor: pointer;*/
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.products > {
    border-radius: 5px;
}

#cart-img {
    margin-left: 1rem;
    height: 3rem;
}

#cart-items-count {
    background-color: #ff173c;
    display:inline-block;
    padding: 0;
    margin-top: -3px;
    margin-left: -10px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: #f0f0f0;
    text-align: center;
}

.hidden {
    visibility: hidden;
}

.nav-link {
    color: #666 !important;
}


body {
    background-color: #EEEEEE;
}

.remove-btn {
    text-transform: none !important;
    cursor: pointer !important;
    border: 0;

}

.nav-item {
    margin-left: 2px;
    margin-right: 2px;
    cursor: pointer;
}
